.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  background-color: #333;
  z-index: 1000;
  overflow-x: hidden;
  transition: height 0.3s;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row; 
  justify-content: space-around; 
}

.navbar ul li a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.navbar ul li a.active {
  background-color: #1abc9c;
  color: white;
  font-weight: bold;
}

.navbar h4 {
  color: bisque;
  padding: 16px;
  text-align: center; 
}

.navbar ul li a:hover {
  background-color: #555;
}

@media (min-width: 600px) {
  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    overflow-y: auto;
    flex-direction: column; 
  }

  .navbar ul {
    flex-direction: column; 
  }

  .navbar ul li a {
    text-align: left; 
  }
  
  body {
    padding-left: 200px;
  }
}