header {
  background-image: url('../../assets/leaf.jpg'); 
  font-family: 'Dancing Script', cursive; 
  color: wheat;
  text-align: center;
  padding: 20px 0;
  background-size: cover; 
  background-position: center;
}